@charset "utf-8";
/* CSS Document */
*{
    margin:0;
    padding:0;
}
body{
    font-family:"微软雅黑";
    background-color:#ddd;
}
.box{
    width:950px;
    height:500px;
    background:#fff;
    margin:30px auto;
    padding:20px;
}

.box ul li{
    width:270px;
    height:240px;
    list-style:none;
    position:relative;
    float:left;
    margin-left:35px;
    margin-bottom:20px;
    overflow:hidden;
}
.box ul li .deatil{
    width:270px;
    height:240px;
    background:rgba(0,0,0,0.7);
    position:absolute;
    top:-240px;
    -webkit-transition:all 0.3s ease;<!--适应ie，谷歌，苹果浏览器内核-->
    -o-transition:all 0.3s ease;<!--适应Opera浏览器内核-->
    -moz-transition:all 0.3s ease;<!--火狐浏览器-->
    -ms-transition:all 0.3s ease;<!--微软-->
}

.box ul li .deatil h2{
    font-size:18px;
    color:#fff;
    text-align:center;
    padding-top:20px;
    }
.box ul li .deatil p{
    font-size:16px;
    text-align:center;
    margin:30px;
    color:#fff;
}
.box ul li .deatil button{
    font-size:15px;
    display:block;
    color:#fff;
    background-color:#F00;
    text-decoration:none;
    width:100px;
    height:30px;
    text-align:center;
    line-height:30px;
    margin:0 auto;
}
.box ul li:hover .deatil{
    top:0;
}